---
import PostList from "../components/postList.astro";
import PostListTitle from "../components/postListTitle.astro";
import HomeLayout from "../layouts/homeLayout.astro";
import { sortPostByDate } from "../utils/commons";
import type { PostMetada } from "../utils/interfaces";
const posts = await Astro.glob<PostMetada>("../pages/**/*.md");
const postsSorted = posts.sort(sortPostByDate);
---

<HomeLayout>
  <PostListTitle />
  <section>
    <PostList posts={postsSorted} />
  </section>
</HomeLayout>
