---
import bgImage from "../images/bg_home_header.webp";
---

<style>
  h1 {
    padding: 1em 2rem;
    font-family: "Montserrat", sans-serif;
    color: var(--primary-color);
    font-weight: 700;
  }
  header {
    max-width: var(--max-width-container);
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 550px 1fr;
    grid-template-rows: 1fr;
    height: 600px;
  }

  header > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    z-index: 2;
  }

  header > div > img {
    display: block;
    width: 100%;
  }
</style>

<header>
  <div class="text">
    <h1>
      Soluciones y tutoriales <br /> de la comunidad <br /> para la comunidad
    </h1>
  </div>
  <div class="image">
    <img src={bgImage} alt="wilink" />
  </div>
</header>
