---
import bgImage from "../images/bg_home_header.webp";
---

<style>
  h1 {
    font-family: "Montserrat", sans-serif;
    color: var(--primary-color);
    font-weight: 700;
  }
  header {
    max-width: var(--max-width-container);
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 550px 1fr;
    gap: 3rem;
  }
  @media (max-width: 1080px) {
    header {
      box-sizing: border-box;
      grid-template-columns: 1fr;
      padding: 0px 2rem;
    }
  }

  header > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    z-index: 2;
  }

  header > div > img {
    display: block;
    width: 100%;
    box-shadow: 0px 0px 50px var(--primary-color);
    border: 1px inset rgba(255, 255, 255, 0.6);
  }
</style>

<header>
  <div class="text">
    <h1>
      Soluciones y tutoriales <br /> de la comunidad <br /> para la comunidad
    </h1>
  </div>
  <div class="image">
    <img src={bgImage} alt="wilink" />
  </div>
</header>
