---
type Props = {
  tags: string[];
};
let { tags } = Astro.props;
---

<style>
  div {
    display: block;
    padding: 2rem 0;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }
  span {
    background-color: var(--primary-color);
    padding: 0.3rem 0.8rem;
    border-radius: 6px;
    color: white;
    font-family: "Montserrat", sans-serif;
  }
</style>

<div>
  {tags.map((t) => <span>{t}</span>)}
</div>
