---
---

<style lang="scss">
  header {
    max-width: var(--max-width-container);
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1.5fr 2fr;
    grid-template-rows: 1fr;
    min-height: 70vh;

    > div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
    }
  }
</style>

<header>
  <div>
    <h1 class="primary">Titulo del post</h1>
  </div>
</header>
