---
import { PostMetada } from "../utils/interfaces";

function filterCategories(category: string, index: number, self: string[]) {
  return self.indexOf(category) === index;
}

const posts = await Astro.glob<PostMetada>("../pages/**/*.md");
const categories = posts
  .map((p) => p.frontmatter.tags)
  .filter(filterCategories);
---

<style lang="scss">
  aside {
    position: sticky;
    .categories {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 15px;
    }
  }
</style>

<aside>
  <h2 class="secondary">Categorías</h2>
  <div class="categories">
    {categories.map((link) => <a class="button outlined">{link}</a>)}
  </div>
</aside>
