---
import HomeHeader from "../components/homeHeader.astro";
import Sidebar from "../components/sidebar.astro";
import RootLayout from "./rootLayout.astro";
---

<RootLayout>
  <HomeHeader />
  <main>
    <div>
      <slot />
    </div>
    <Sidebar />
  </main>
</RootLayout>
