---
import Header from "../components/header.astro";
import Sidebar from "../components/sidebar.astro";
import RootLayout from "./rootLayout.astro";
---

<RootLayout>
  <Header />
  <main>
    <div>
      <slot />
    </div>
    <Sidebar />
  </main>
</RootLayout>
