---
import Navigation from "../components/navigation.astro";
import "@fontsource/lato/400.css";
import "@fontsource/lato/700.css";
import "@fontsource/montserrat/400.css";
import "@fontsource/montserrat/700.css";
import Footer from "../components/footer.astro";
import GoogleAnalytics from "../components/GoogleAnalytics.astro";
import GoogleAdsense from "../components/GoogleAdsense.astro";
let { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="es">
  <head>
    <GoogleAnalytics />
    <GoogleAdsense />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <title>{title && `${title} |`} WiLink Solutions</title>
    <link rel="icon" type="image/x-icon" href="/favicon.svg" />
  </head>

  <body>
    <style is:global>
      :root {
        --max-width-container: 1200px;
        --primary-color: rgb(142, 90, 255);
        --navbar-background: rgba(14, 13, 17, 0.8);
        --body-background: rgb(23, 22, 29);
        --tablet-width-break: 600px;
      }

      body {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        background-color: var(--body-background);
      }

      h1 {
        font-size: 45px;
      }

      h2 {
        font-size: 32px;
      }
      main {
        max-width: var(--max-width-container);
        width: 100%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 720px 1fr;
        gap: 10rem;
      }

      @media (max-width: 1080px) {
        main {
          box-sizing: border-box;
          grid-template-columns: 1fr;
          padding: 0px 2rem;
        }
      }
    </style>
    <Navigation />
    <slot />
    <Footer />
  </body>
</html>
